@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url("https://fonts.googleapis.com/css?family=Gelasio&display=swap");
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');




button {
background-color: transparent;
border: none;
padding: 0px;
margin: 0px;
text-align: left;
font-family: "Times New Roman";
} button:active {
color: lightgrey;
background-color: lightgrey;
} button:focus {
outline: 0;
}

a {
text-decoration: none;
color: black;
}

body {
display: flex;
align-items: center;
flex-direction: column;
padding: 0px;
margin: 0px;
width: 100%;
text-align: left;
background-color: #f6f6f6;
#background-color: #fefefe;

#font-family: 'Georgia';
font-family: 'Gelasio', serif;
#font-family: 'Playfair Display', serif;
#font-family: 'PT Serif', serif;
#font-family: 'Arial';
font-size: 90%;
color: #1e1e1e;
}


.shortline {
border: .5px solid white;
margin: .5%;
width: 10%;
}

#header {
width: 100%;
display: flex;
-webkit-flex-direction: column;
align-items: center;
border-bottom: 1px solid lightgrey;
#border-top: 1px solid lightgrey;
#background-color: #fefefe;
background-color: #fbfbfb;

} #date {
font-size: 11px;
} #topbar {
width: 100%;
border-bottom: 1px solid lightgrey;

} #home {
margin-left: auto;
margin-right: auto;
width: 120vh;
max-width: 90%;
background-color: pink;
padding: 1%;
padding-left: 3%;
padding-right: 3%;
margin-bottom: 1%;
display: flex;
align-items: center;
} #links a {
margin: 1%;
padding: 1.5%;
background-color: #fefefe;
border: 1px solid pink;
transition: all .15s linear;
} #links {
width: 100%;
text-align: right;
} #links a:hover {
background-color: pink;
border: 1px solid #f3f3f3;
color: #fefefe;
} #name {
width: 25%;
font-size: 32px;
transition: all .15s linear;

} #name:hover {
color: #fbfbfb;
background-color: pink;
} #extras {

width: 110vh;
max-width: 90%;
padding-right: 2%;
padding-left: 2%;
} #extras a {
margin: 1%;
}



#footer {
height: 25vh;
width: 100%;
background-color: #e9e9e9;
display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-direction: row;
} #footer .footercagtegories {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin: 2%;
width: 30vh;
height: 60%;
padding: .5%;
} .footertitle {
width: 100%;
font-weight: bold;
}

.author {
font-size: 12px;
font-family: 'Arial';
color: grey;
}


.img {
position: relative;
float: left;
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: cover;
display: block;
width: 12vh;
height: 12vh;
background-position: center;

}
