@import url("https://fonts.googleapis.com/css?family=Gelasio&display=swap");
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,400i,700,700i,900,900i&display=swap');

@import url('https://fonts.googleapis.com/css?family=Buenard:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Pro:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');



button {
background-color: transparent;
border: none;
padding: 0px;
margin: 0px;
text-align: left;
width: 100%;
} button:active * div {
color: red;
} button:focus {
outline: 0;
}

a {
text-decoration: none;
color: black;
}

body {
display: flex;
align-items: center;
flex-direction: column;
padding: 0px;
margin: 0px;
width: 100%;
text-align: left;
background-color: #f6f6f6;
#background-color: #fefefe;
background-color: #fbfbfb;

#font-family: 'Georgia';
font-size: 90%;
font-family: 'PT Serif', serif;
color: #1e1e1e;
}


.shortline {
border: .5px solid white;
margin: .5%;
width: 10%;
}

#header {
display: flex;
-webkit-flex-direction: column;
align-items: center;
background-color: #fefefe;
border-bottom: .5px solid #e9e9e9;

position: sticky;
top: 0;
z-index: 100;
width: 100%;
} #date {
font-size: 11px;
user-select: none;
} #topbar {
width: 100%;
} #home {
margin-left: auto;
margin-right: auto;
width: 120vh;
max-width: 90%;
padding: 1%;
#padding-left: 3%;
#padding-right: 3%;
display: flex;
align-items: center;
display: flex;
-webkit-flex-direction: row;
justify-content: space-between;
align-items: center;

} .links a {
margin: 1%;
padding: 1.5%;
transition: all .15s linear;
font-size: 11px;
} .links {
width: 30%;
text-align: right;
#padding: 1.5%;
#display: none;
} .links a:hover {
background-color: pink;
border: 1px solid #f3f3f3;
color: #fefefe;
} #name {
#width: 100%;
font-size: 32px;
transition: all .15s linear;
font-family: 'Buenard', serif;
} #date {
width: 30%;

}



#extras {
border-top: .5px solid #e9e9e9;
border-bottom: .5px solid #e9e9e9;
height: 5vh;
width: 100%;
font-size: 90%;
display: flex;
align-items: center;
justify-content: center;
} #extras a {
margin: 1%;
color: #888888;
}
#extras a:first-child {

#padding-left: 20%;
}

#footer {
height: 25vh;
width: 100%;
background-color: #e9e9e9;
background-color: #444444;
color: grey;
display: flex;
justify-content: flex-start;
align-items: flex-start;
flex-direction: row;
} #footer .footercagtegories {
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
margin: 2%;
width: 30vh;
height: 60%;
padding: .5%;
} .footertitle {
width: 100%;
font-weight: bold;
} #footer a {
color: #e9e9e9;
} #footer a:hover {
color: red;
}

.author {
font-size: 12px;
color: grey;
font-family: 'Playfair Display SC', serif;

padding: .5%;
}


.img {
position: relative;
float: left;
background-position: 50% 50%;
background-repeat: no-repeat;
background-size: cover;
display: block;
width: 12vh;
height: 12vh;
min-width: 12vh;
min-height: 12vh;
transition: all .5s ease;
}


#name {
text-decoration: underline
font-family: 'Playfair Display SC', serif;

}

.about {
border: 1px solid white;
width: 60vh;
font-size: 110%;
background-color: lightgrey;
color: black;
}
.abt {
font-family: 'Playfair Display SC', serif;
font-size: 120%;
}
