.article {
color: black;
} .article:hover {
color: #666666;
} .article:active {
color: red;
} .article .summary {
display: none;
}

.title {
display: -webkit-box;
-webkit-line-clamp: 100;
-webkit-box-orient: vertical;
overflow: hidden;
font-weight: bold;
font-size: 15px;
}

#main {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
padding: 1%;
background-color: #F9F9F9;
}


.entry:hover > .article .highlight {
background-position: left top;
color: black;
}

#zero #previewed:hover > .article .highlight {
background-position: left top;
color: black;
}


.highlight {
background: linear-gradient(to right, pink 50%, #f6f6f6 50%);
background-size: 200% 100%;
background-position: right bottom;
transition: all 1s ease;
}




#zero {
display: flex;
flex-direction: row;
justify-content: center;
height: 75vh;
background-color: #F9F9F9;
padding: 1%;
}

#label {
text-decoration: underline;
font-style: italic;
font-size: 21px;
}




.latest {
width: 40vh;
display: flex;
-webkit-flex-direction: column;
justify-content: flex-start;
border: 1px solid;
} .latest .entry {
animation: fadein .5s linear;
margin-top: 10%;
margin-bottom: 10%;
}





#showcase {
width: 70vh;
height: 100%;
}
#showcase .article {
animation: fadein .3s linear;
display: flex;
flex-direction: column-reverse;
justify-content: flex-end;
width: 100%;
}
#showcase .img {
width: 100%;
height: 45vh;
}
#showcase .description {
#height: 45vh;
}
#showcase .title {
font-size: 200%;
}
#showcase .summary {
display: -webkit-box;
-webkit-line-clamp: 5;
-webkit-box-orient: vertical;
overflow: hidden;
}
#showcase .line0 {
display: none;
}



#preview {
width: 20%;
height: 100%;

} #preview .entry {
height: 100%;
} #preview .article {
animation: fadein .7s linear;
display: flex;
-webkit-flex-direction: column-reverse;
height: 55vh;
#border: 1px solid blue;
padding: 2%;

} #preview .img {
height: 100vh;
width: 100%;
} #preview .description {
height: 50vh;
} #preview .summary {
display: -webkit-box;
-webkit-line-clamp: 8;
-webkit-box-orient: vertical;
overflow: hidden;
}

#onewrap {
width: 70%;
}


#one {
padding: 1%;
width: 120vh;
max-width: 100%;
display: flex;
flex-direction: column;
} .half .article {
display: flex;
flex-direction: column-reverse;
} .half .img {
width: 80%;
height: 20vh;
padding: 5%;
} .half .author {
display: none;
} .half .title {
padding: 5%;
}

.half {
display: flex;
-webkit-flex-direction: row;
} .half div {
width: 100%;
#border: 1px solid;
} .half .description {
width: 80%;
} #one .line {
margin: 2%;
width: 90%;
}

.note {
display: flex;
align-items: center;
margin-left: 2%;
width: 150%;
height: 100%;
color: black;
font-weight: bold;
transition: all .4s;
}

#around {
width: 100%;
background-color: #e9e9e9;
height: 30vh;
display: flex;
justify-content: flex-start;
align-items: center;
flex-direction: row;
font-size: 24px;
color: white;
} .atwentry {
width: 300%;
transition: all .5s;
} .atwentry .img {
height: 100%;
width: 100%;
transition: all .5s;
} .atwentry:hover {
width: 450%;
opacity: 1.3;
} #around .img {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-end;
} .atw {
text-align: right;
font-size: 13px;
color: #efefef;
} .atw .author {
color: white;
} .atw:hover > .title {
transition: all .5s;
font-size: 150%;
background-color: rgba(255, 0, 0, 0.85);
} .atwentry .title {
background-color: rgba(255, 0, 0, 0.5);
width: 100%;
}

#meat {
display: flex;
-webkit-flex-direction: row;
justify-content: center;

width: 100%;
background-color: #F9F9F9;
padding-top: 3%;
padding-bottom: 3%;
} #meat .img {
background-color: lightblue;
}

#meat0 {
width: 90vh;
max-width: 90%;
#border: 1px solid red;
}
.beatles {
width: 45vh;
#border: 1px solid red;
}






#meat0 .article {
display: flex;
-webkit-flex-direction: row-reverse;
} #meat0 .img {
width: 50vh;
height: 25vh;
} #meat0 .description {
width: 60vh;
padding: 2%;
} #meat0 .line {
margin: 2%;
width: 95%;
} #meat0 .line0 {
display: block;
border: 1px solid grey;
width: 70%;
}



.loading {
height: 5px;
background-color: red;
opacity: .3;
} .loadingcont {
width: 100%;
background-color: lightgrey;
} .load0 {
animation: load 8s infinite linear;
} .load1 {
animation: load 12s infinite linear;
}

@keyframes load {
0% {width: 0%}
100% {width: 100%}
}

@keyframes fadein {
0% {opacity: 0}
100% {opacity: 1}
}


#devtools {
background-color: lightgreen;
display: none;
justify-content: center;
width: 100%;
} #devtools #buttons {
padding-left: 5%;
}

.line {
border: .5px solid lightgrey;
width: 100%;
}


.vertline {
border: 1px solid lightgrey;
height: 100%;
margin-left: 2%;
margin-right: 2%;
}

.style0 .img {
display: none;
}

.mobile2 {
display: block;
}


@media only screen and (max-width: 1000px) {
.mobile {
    display: none;
}
}

@media only screen and (max-width: 800px) {
.mobile2 {
    display: none;
} #onewrap {
width: 90%;
}
}

